# Comprehension

A language capability that enables concise entry of sequences.

Example: generating a list of square numbers

In [1]:
sqrNums = []
for i in range(11):
  sqrNums.append(i**2)
print(sqrNums)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
sqrNums = [i**2 for i in range(11)]
print(sqrNums)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

If we don't need the list (unpacking):

In [ ]:
print(*[i**2 for i in range(11)])

0 1 4 9 16 25 36 49 64 81 100

Unrolling a matrix requires two loops:

In [3]:
mtx = (
    (11, 12, 13),
    (21, 22, 23),
    (31, 32, 33)
)
vector = []
for row in mtx:
  for item in row:
    vector.append(item)
print(vector)

[11, 12, 13, 21, 22, 23, 31, 32, 33]

In [4]:
mtx = (
    (11, 12, 13),
    (21, 22, 23),
    (31, 32, 33)
)
vector = [item for row in mtx for item in row]
print(vector)

[11, 12, 13, 21, 22, 23, 31, 32, 33]

Producing the [transpose](https://en.wikipedia.org/wiki/Transpose) of a matrix needs two loops

In [5]:
# reading the matrix
rows = int(input('How many rows do the matrix have? '))
cols = int(input('How many columns do the matrix have? '))
mtx = []
for r in range(rows):
  newRow = []
  for c in range(cols):
    newRow.append(float(input(f'[{r+1}][{c+1}]: ')))
  mtx.append(newRow)
# transposing
tr = []
for c in range(cols):
  newRow = []
  for r in range(rows):
    newRow.append(mtx[r][c])
  tr.append(newRow)
# printing
print('Original:', mtx)
print('Transposed:', tr)

How many rows do the matrix have? 2
How many columns do the matrix have? 2
[1][1]: 11
[1][2]: 12
[2][1]: 21
[2][2]: 22
Original: [[11.0, 12.0], [21.0, 22.0]]
Transposed: [[11.0, 21.0], [12.0, 22.0]]

In [6]:
# reading the matrix
rows = int(input('How many rows do the matrix have? '))
cols = int(input('How many columns do the matrix have? '))
mtx = []
for r in range(rows):
  newRow = []
  for c in range(cols):
    newRow.append(float(input(f'[{r+1}][{c+1}]: ')))
  mtx.append(newRow)
# transposing
tr = [[mtx[r][c] for r in range(rows)] for c in range(cols)]
# printing
print('Original:', mtx)
print('Transposed:', tr)

How many rows do the matrix have? 2
How many columns do the matrix have? 2
[1][1]: 11
[1][2]: 12
[2][1]: 21
[2][2]: 22
Original: [[11.0, 12.0], [21.0, 22.0]]
Transposed: [[11.0, 21.0], [12.0, 22.0]]

Conditions may also occur at the end of the comprehension, e.g. generating a list of even numbers:

In [7]:
even = []
for i in range(11):
  if i%2 == 0:
    even.append(i)
print(even)

[0, 2, 4, 6, 8, 10]

In [8]:
print([i for i in range(11) if i%2 == 0])

[0, 2, 4, 6, 8, 10]

Of course, this could have been solved in another way:

In [ ]:
print([i for i in range(0, 11, 2)])

[0, 2, 4, 6, 8, 10]

FizzBuzz game: every number divisible by 3 should be replaced by "Fizz", all divisible by 5 should be replaced by "Buzz", all divisible by 3 and 5 (i.e. 15) should be replaced by "FizzBuzz". It requires multidirectional branching.

In [9]:
words = []
for i in range(1, 21):
  if i%15==0:
    words.append('FizzBuzz')
  elif i%3==0:
    words.append('Fizz')
  elif i%5==0:
    words.append('Buzz')
  else:
    words.append(i)
print(words)

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz', 16, 17, 'Fizz', 19, 'Buzz']

In [ ]:
print(['FizzBuzz' if i%15==0 else 'Fizz' if i%3==0 else 'Buzz' if i%5==0 else i for i in range(1, 21)]) # Pay attention to the place of if!

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz', 16, 17, 'Fizz', 19, 'Buzz']

Conditional expression (as a reminder)

In [10]:
num = int(input('Enter an integer! '))
print('Even' if num%2 == 0 else 'Odd')

Enter an integer! 2
Even

# Set

* The equivalent of the mathematical set concept
* Not sequential
* Not indexable
* Duplication of data is not allowed
* Content checking is very fast (O(1))
* It can store different types of data
* It cannot store modifiable data (e.g. list)

In [14]:
mySet = {42, 3.14, 'Arnold Schwarzenegger', ('a', 'b')} # definition
print(mySet)
print('Type of the set:', type(mySet), 'number of elements:', len(mySet))
print('Is Sylvester Stallone here?', 'Sylvester Stallone' in mySet)
print('What about Arnold Schwarzenegger?', 'Arnold Schwarzenegger' in mySet)
mySet.add(52)
mySet.add(52) # it does not store anything twice, multiple additions are not a problem
mySet.remove(42) # however, an unstored element cannot be removed
# mySet.remove(42) # KeyError
print('After adding and deleting:', mySet)
print('Empty set:', set())

{42, 3.14, 'Arnold Schwarzenegger', ('a', 'b')}
Type of the set: <class 'set'> number of elements: 4
Is Sylvester Stallone here? False
What about Arnold Schwarzenegger? True
After adding and deleting: {3.14, ('a', 'b'), 52, 'Arnold Schwarzenegger'}
Empty set: set()

Set operations are supported

In [15]:
even = {i for i in range(2, 11, 2)}
three = {i for i in range(3, 11, 3)}
print('Numbers divisible by six::', even & three)
print('Odd numbers:', {i for i in range(1, 11, 1)} - even)
print('Union of sets of even and divisible by three numbers:', even | three)

Numbers divisible by six:: {6}
Odd numbers: {1, 3, 5, 7, 9}
Union of sets of even and divisible by three numbers: {2, 3, 4, 6, 8, 9, 10}

Searching in a set is very fast

In [16]:
import time
import random
mySet = {i for i in range(10_001)}
myList = list(mySet)

start = time.time()
for i in range(100_000):
  random.randint(0, 100_000) in mySet
end = time.time()
print(f'Searching in a set took {end-start:.2f} secs.')

start = time.time()
for i in range(100_000):
  random.randint(0, 100_000) in myList
end = time.time()
print(f'Searching in a list took {end-start:.2f} secs.')

Searching in a set took 0.12 secs.
Searching in a list took 10.41 secs.

Drawing lottery numbers (5 out of 90)

In [17]:
import random as rnd
numbers = set()
while len(numbers) < 5:
  numbers.add(rnd.randint(1, 90))
print('Lottery numbers in ascending order:', sorted(numbers))

Lottery numbers in ascending order: [10, 46, 65, 67, 71]

What letters does the poem consist of?

In [18]:
letters = {l.lower() for l in '''
And this was the reason that, long ago,
In this kingdom by the sea,
A wind blew out of a cloud, chilling
My beautiful Annabel Lee;
So that her highborn kinsmen came
And bore her away from me,
To shut her up in a sepulchre
In this kingdom by the sea.
'''}
# Edgar Allan Poe: Annabel Lee
print(sorted(letters))

['\n', ' ', ',', '.', ';', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'w', 'y']

Creating a set from a list with comprehension; by definition, only one of the repeated elements of the list is added to the set.

In [19]:
myList = ["one", "two", "three", "one", "four", "two"]
mySet = {item for item in myList}
print(mySet)

{'three', 'one', 'four', 'two'}

## Dictionary

* In other languages: map, mapping, associative array
* Set of key-value pairs
* The keys are unique identifiers, they form a set
* Preserves order of elements ([since Python 3.6](https://docs.python.org/3/whatsnew/3.6.html#new-dict-implementation))
* Fast content check (O(1))
* You can index elements with the key

In [20]:
students = {
  '1Q2W3E': 'John Doe',
  'ASD123': 'Jane Doe',
  'LKJHGF': 'Baby Doe'
}
print('Students of the course:')
for neptun in students:
  print(neptun, ': ', students[neptun])

print('Is "ASD123" included?', 'ASD123' in students)
students['ASD123'] = 'Queen Elizabeth' # modification
students['XXXXXX'] = 'Agatha Christie' # adding new student
del students['1Q2W3E'] # removal
print('Students after modifications:', students)

Students of the course:
1Q2W3E :  John Doe
ASD123 :  Jane Doe
LKJHGF :  Baby Doe
Is "ASD123" included? True
Students after modifications: {'ASD123': 'Queen Elizabeth', 'LKJHGF': 'Baby Doe', 'XXXXXX': 'Agatha Christie'}

In [22]:
students = {
  '1Q2W3E': 'John Doe',
  'ASD123': 'Jane Doe',
  'LKJHGF': 'Baby Doe'
}
teachers = {
  '5T6Z7U': 'Smart Stephen',
  'MNBVCX': 'Prof. Peter'
} 
print('Students:', students)
print('Students\' codes:', *students)
print('All colleagues:', {**students, **teachers}) # unpacking

Students: {'1Q2W3E': 'John Doe', 'ASD123': 'Jane Doe', 'LKJHGF': 'Baby Doe'}
Students' codes: 1Q2W3E ASD123 LKJHGF
All colleagues: {'1Q2W3E': 'John Doe', 'ASD123': 'Jane Doe', 'LKJHGF': 'Baby Doe', '5T6Z7U': 'Smart Stephen', 'MNBVCX': 'Prof. Peter'}

The frequency of occurrence of the letters of a poem

In [23]:
poem = '''
And this was the reason that, long ago,
In this kingdom by the sea,
A wind blew out of a cloud, chilling
My beautiful Annabel Lee;
So that her highborn kinsmen came
And bore her away from me,
To shut her up in a sepulchre
In this kingdom by the sea.
'''
frequency = {} # empty dictionary
for l in poem:
  l = l.lower()
  frequency[l] = frequency.get(l, 0) + 1 # returns the value associated with the key if the key exists, 0 otherwise
print(frequency)

{'\n': 9, 'a': 18, 'n': 16, 'd': 6, ' ': 43, 't': 14, 'h': 16, 'i': 14, 's': 11, 'w': 4, 'e': 20, 'r': 8, 'o': 13, ',': 5, 'l': 9, 'g': 6, 'k': 3, 'm': 7, 'b': 7, 'y': 4, 'u': 7, 'f': 3, 'c': 4, ';': 1, 'p': 2, '.': 1}

In the dictionary, we can search very quickly according to the (always unique) key.

In [24]:
subjects = {
    'GKNB_INTA012' : {
        'title' : 'Operation of Computers',
        'lectures' : 3,
        'practices' : 2,
        'semester' : 1
    },
    'GKNB_INTA021' : {
        'title' : 'Programming',
        'lectures' : 2,
        'practices' : 2,
        'semester' : 2
    },
    'GKNB_INTA085' : {
        'title' : 'OO programming',
        'lectures' : 1,
        'practices' : 3,
        'semester' : 3
    }
}
neptun = input('What is the Neptun code of the subject? ')
if neptun in subjects:
  print('Title of the subject is:', subjects[neptun]['title'])
  print('Number of lectures per week:', subjects[neptun]['lectures'])
  print('Number of practices per week:', subjects[neptun]['practices'])
  print('Suggested semester:', subjects[neptun]['semester'])
else:
  print('There is no subject with this code in the register.')

What is the Neptun code of the subject? abc
There is no subject with this code in the register.

In [25]:
emoji = {
    ':)' : '\N{grinning face}',
    '>:|' : '\N{angry face}'
}
print(emoji[':)'])

ðŸ˜€

Creating a dictionary from a list with comprehension

In [26]:
myList = ["apple", "banana", "cherry"]
myDict = {key:value for key, value in enumerate(myList)}
print(myDict)

{0: 'apple', 1: 'banana', 2: 'cherry'}

## Iterate over two sequences at once

Sometimes we need to perform an operation with the elements of two lists with the same index, e.g. to calculate the total of an invoice, you need to know the unit price and the quantity. With our current knowledge, e.g. we can solve it like this:

In [27]:
quantity = (1, 2, 3)
unitPrice = (10, 20, 30)
productSum = 0
for i in range(min(len(quantity), len(unitPrice))):
  productSum += quantity[i] * unitPrice[i]
print('Total:', productSum)

Total: 140

The same result can be achieved with the *zip* function, which pairs the next elements of *n* sequences given as arguments and makes it available to us in a single tuple:

In [28]:
quantity = (1, 2, 3)
unitPrice = (10, 20, 30)
productSum = 0
for pair in zip(quantity, unitPrice):
  productSum += pair[0] * pair[1]
print('Total:', productSum)

Total: 140

In [29]:
quantity = (1, 2, 3)
unitPrice = (10, 20, 30)
for pair in zip(quantity, unitPrice):
  print(pair, type(pair)) # it really uses tuples

(1, 10) <class 'tuple'>
(2, 20) <class 'tuple'>
(3, 30) <class 'tuple'>

If the sequences do not have the same number of elements, it stops when the end of the shortest one is reached.

In [30]:
quantity = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
unitPrice = (10, 20, 30)
for pair in zip(quantity, unitPrice):
  print(pair, type(pair))

(1, 10) <class 'tuple'>
(2, 20) <class 'tuple'>
(3, 30) <class 'tuple'>

If we don't need the tuple, we can split it into separate variables:

In [31]:
quantity = (1, 2, 3)
unitPrice = (10, 20, 30)
productSum = 0
for q, u in zip(quantity, unitPrice): # unpacking
  productSum += q * u
print('Total:', productSum)

Total: 140

We can combine or split sequences with it:

In [32]:
quantity = (1, 2, 3)
unitPrice = (10, 20, 30)
*items, = zip(quantity, unitPrice)
print(items)

[(1, 10), (2, 20), (3, 30)]

In [33]:
items = [(1, 10), (2, 20), (3, 30)]
quantity, unitPrice = zip(*items)
print(quantity, unitPrice)

(1, 2, 3) (10, 20, 30)

Zip also helps in the mass creation of dictionaries:

In [34]:
keys = ('Name', 'Neptun', 'Program')
values = (
  ('John Doe', 'ABC123', 'Logistics engineer'),
  ('Jane Doe', 'A1B2C3', 'Electrical engineer')
)
persons = []
for value in values:
  persons.append(dict(zip(keys, value)))
print(persons)

[{'Name': 'John Doe', 'Neptun': 'ABC123', 'Program': 'Logistics engineer'}, {'Name': 'Jane Doe', 'Neptun': 'A1B2C3', 'Program': 'Electrical engineer'}]

In [35]:
names = ('Amelia', 'Olivia', 'Isla')
for rank, name in zip(range(1, len(names)+1), names):
  print(rank, name)

1 Amelia
2 Olivia
3 Isla