# Collections

Complex data structures that can be used to store a group of data.

## Tuple
* preserves the order of elements
* allows repetition
* stored items can be selected by indexing
* the type of elements may be different
* read only
* search can only be done serially (O(n))

In [1]:
t = (42, 3.14, 'kitten') # 3 element tuple
print(type(t))
print('size of t: ', len(t))
i = 0
while i < len(t):
  print(t[i], end=' ') # the index of the 1st item is 0
  i += 1

<class 'tuple'>
size of t:  3
42 3.14 kitten

In [3]:
t[0] = 'something else' # tuples are read only

TypeError: ignored

In [4]:
print(t[3]) # index out of range

IndexError: ignored

In [5]:
print(t[-1]) # negative index: -1 --> the 1st one from behind
t2 = () # empty tuple
t3 = (1,) # 1 element tuple
t4 = (1) # not a tuple, but an int in parentheses
print(type(t2), type(t3), type(t4))

kitten
<class 'tuple'> <class 'tuple'> <class 'int'>

In [6]:
t = (42, 3.14, 'kitten')
print('id of t: ', id(t))
t += (True, None) # instead of modifying the existing tuple, a new one is created (tuples are immutable objects)
print('id of t: ', id(t))
print(t)

id of t:  140230215337408
id of t:  140230215715472
(42, 3.14, 'kitten', True, None)

In [7]:
backpack = ('tea', 'sandwiches', 'swiss army knife', 'phone', 'keys', 'wallet')
thing = input('What are you searching for? ')
if thing in backpack: # content test
  print('Relax, you put it in the backpack.')
else:
  print('Oops, missed that!')

What are you searching for? handkerchief
Oops, missed that!

Determining the minimum, maximum and average of numbers stored in a tuple

In [9]:
numbers = (1, 3, 2, 4)
smallest = greatest = sum = numbers[0]
i = 1
while i < len(numbers):
  if numbers[i] < smallest:
    smallest = numbers[i]
  if numbers[i] > greatest:
    greatest = numbers[i]
  sum += numbers[i]
  i += 1
print('The smallest number:', smallest)
print('The geatest number:', greatest)
print(f'The average (arithmetic mean): {sum / len(numbers):.2f}')

The smallest number: 1
The geatest number: 4
The average (arithmetic mean): 2.50

[The statistics module](https://docs.python.org/3/library/statistics.html)

In [10]:
import statistics as stat
print('Determining the minimum, maximum and average of numbers')
print('Enter non-negative numbers! Exit to a negative value.')
numbers = ()
while True:
  number = float(input('Next number: '))
  if number < 0.:
    break
  numbers += (number,)
  #numbers += number # only tuples can be concatenated, a new item cannot be included this way
print(f'Minimum: {min(numbers)}, maximum: {max(numbers)}, average: {stat.mean(numbers):.2f}')

Determining the minimum, maximum and average of numbers
Enter non-negative numbers! Exit to a negative value.
Next number: 1
Next number: 3
Next number: 2
Next number: 4
Next number: -1
Minimum: 1.0, maximum: 4.0, average: 2.50

## Lists

Similar to tuples, but their content can be modified (mutable)

In [11]:
myList = [42, 3.14, 'kitten'] # 3 element list
print(type(myList))
myList[0] = 'something else' # a list can be modified
print('id of the list: ', id(myList))
myList += ['Fred']
print('id of the list: ', id(myList))
print('Content: ', myList)
myList += 'Wilma' # add the string letter by letter
print('Content: ', myList)
myList = myList[:-len('Wilma')] # slicing can be used here, too
myList.append('Wilma')
print('Content: ', myList)
myList.insert(0, 'Dino') # insertion in front of the element with index 0
print('Content: ', myList)

<class 'list'>
id of the list:  140229490532928
id of the list:  140229490532928
Content:  ['something else', 3.14, 'kitten', 'Fred']
Content:  ['something else', 3.14, 'kitten', 'Fred', 'W', 'i', 'l', 'm', 'a']
Content:  ['something else', 3.14, 'kitten', 'Fred', 'Wilma']
Content:  ['Dino', 'something else', 3.14, 'kitten', 'Fred', 'Wilma']

Reading numbers and then writing them out in reverse order

In [12]:
count = int(input('How many numbers do you like to work with? '))
numbers = []
i = 0
while i < count:
  numbers.append(int(input('Next number: ')))
  i += 1
print('The entered numbers in reverse order:')
i -= 1
while i >= 0:
  print(numbers[i])
  i -= 1

How many numbers do you like to work with? 4
Next number: 1
Next number: 2
Next number: 3
Next number: 4
The entered numbers in reverse order:
4
3
2
1

Lists can also be used as [stack](https://en.wikipedia.org/wiki/Stack_(abstract_data_type))-organized storage

In [13]:
storage = []
storage.append(1)
storage.append(2)
storage.append(3)
print(storage.pop()) # it returns / removes the last element by default, but it can be altered
print(storage.pop())
print(storage.pop())

3
2
1

In [17]:
count = int(input('How many numbers do you like to work with? '))
numbers = []
i = 0
while i < count:
  numbers.append(int(input('Next number: ')))
  i += 1
print('The entered numbers in reverse order:')
# while len(numbers) > 0:
# while len(numbers):
while numbers:
  print(numbers.pop())

How many numbers do you like to work with? 4
Next number: 1
Next number: 2
Next number: 3
Next number: 4
The entered numbers in reverse order:
4
3
2
1

In [18]:
colors = ['white', 'green']
colors.insert(0, 'red') # insertion to specified position
print(colors)
colors.remove('green') # removing an item with given value (only the first occurrence of it)
print(colors)
del colors[-1] # negative index can be used -> removing the last item
print(colors)

['red', 'white', 'green']
['red', 'white']
['red']

In [20]:
date = '02-03-2023'.split('-') # Makes a list based on the items of the splitted date (DD-MM-YYYY) string. The default separator is the space character.
print(date)
print('.'.join(date)) # concatenation, makes a string from the items of the list

['02', '03', '2023']
02.03.2023

## for loop

During each iteration, the next element of a sequence (string letters, tuple/list elements) can be processed.

The sequence can also be generated with the range() function. The advantage of range is that you don't actually have to store each element of the interval, only the properties on the basis of which the elements of the interval can be produced are sufficient.

In [21]:
# Generation of even integers without range() in the interval [0, 10).
i = 0 # 1st argument of range()
even = []
while i < 10: # 2nd argument of range()
  even.append(i)
  i += 2 # 3rd argument of range
print(even)

[0, 2, 4, 6, 8]

In [22]:
print(list(range(0, 10, 2))) # range object: initial value, last value (not included), step size
print(list(range(0, 10))) # the default initial value is 0, the step size is 1
print(list(range(10)))

[0, 2, 4, 6, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
even = list(range(0, 10, 2))

# iterating over the elements with while, indexing
i = 0
while i < len(even):
  print(even[i], end=' ')
  i += 1
print()

# iterating with for, indexing
for i in range(len(even)):
  print(even[i], end=' ')
print()

# iterating with for, without indexing
for number in even:
  print(number, end=' ')

0 2 4 6 8
0 2 4 6 8
0 2 4 6 8

In [24]:
count = int(input('How many numbers do you like to work with? '))
numbers = []
for i in range(1, count+1):
  numbers.append(int(input(f'Value #{i}: ')))
print('The entered numbers in reverse order:')
for i in range(len(numbers)-1, -1, -1):
  print(numbers[i])

How many numbers do you like to work with? 4
Value #1: 1
Value #2: 2
Value #3: 3
Value #4: 4
The entered numbers in reverse order:
4
3
2
1

In [25]:
count = int(input('How many numbers do you like to work with? '))
numbers = []
for i in range(1, count+1):
  numbers.append(int(input(f'Value #{i}: ')))
print('The entered numbers in reverse order:')
numbers.reverse() # reversing the order of items in the list
for number in numbers:
  print(number)

How many numbers do you like to work with? 4
Value #1: 1
Value #2: 2
Value #3: 3
Value #4: 4
The entered numbers in reverse order:
4
3
2
1

range() can only be used with integers!

In [26]:
for f in range(0, 10, 0.5):
  print(f)

TypeError: ignored

In [30]:
for f in range(0, 20):
  print(f * 0.5)

0.0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5

## Sorting the elements of a list

The sequence of two elements can be easily ensured:

In [31]:
numbers = [3, 2]
if numbers[1] < numbers[0]:
  swap = numbers[0]
  numbers[0] = numbers[1]
  numbers[1] = swap
print('Numbers after sorting:', numbers)

Numbers after sorting: [2, 3]

Even the order of three numbers can be ensured relatively easily:

In [32]:
numbers = [3, 2, 1]
if numbers[1] < numbers[0]:
  swap = numbers[0]
  numbers[0] = numbers[1]
  numbers[1] = swap
if numbers[2] < numbers[1]:
  swap = numbers[1]
  numbers[1] = numbers[2]
  numbers[2] = swap
if numbers[1] < numbers[0]:
  swap = numbers[0]
  numbers[0] = numbers[1]
  numbers[1] = swap
print('Numbers after sorting:', numbers)

Numbers after sorting: [1, 2, 3]

[Bubble sort](https://en.wikipedia.org/wiki/Bubble_sort)

In [33]:
numbers = [23, -5, 9, 7, 42, 123, 99, 666, -76, 12]
print('Initial state:', numbers)
for back in range(len(numbers)-1, 1, -1):
  for front in range(back):
    if numbers[front] > numbers[front+1]:
      swap = numbers[front]
      numbers[front] = numbers[front+1]
      numbers[front+1] = swap
      print('Current state:', numbers)
  print(f'One item ({numbers[back]}) is now on it\'s final place!')
print('Numbers after sorting:', numbers)

Initial state: [23, -5, 9, 7, 42, 123, 99, 666, -76, 12]
Current state: [-5, 23, 9, 7, 42, 123, 99, 666, -76, 12]
Current state: [-5, 9, 23, 7, 42, 123, 99, 666, -76, 12]
Current state: [-5, 9, 7, 23, 42, 123, 99, 666, -76, 12]
Current state: [-5, 9, 7, 23, 42, 99, 123, 666, -76, 12]
Current state: [-5, 9, 7, 23, 42, 99, 123, -76, 666, 12]
Current state: [-5, 9, 7, 23, 42, 99, 123, -76, 12, 666]
One item (666) is now on it's final place!
Current state: [-5, 7, 9, 23, 42, 99, 123, -76, 12, 666]
Current state: [-5, 7, 9, 23, 42, 99, -76, 123, 12, 666]
Current state: [-5, 7, 9, 23, 42, 99, -76, 12, 123, 666]
One item (123) is now on it's final place!
Current state: [-5, 7, 9, 23, 42, -76, 99, 12, 123, 666]
Current state: [-5, 7, 9, 23, 42, -76, 12, 99, 123, 666]
One item (99) is now on it's final place!
Current state: [-5, 7, 9, 23, -76, 42, 12, 99, 123, 666]
Current state: [-5, 7, 9, 23, -76, 12, 42, 99, 123, 666]
One item (42) is now on it's final place!
Current state: [-5, 7, 9, -76, 23, 12, 42, 99, 123, 666]
Current state: [-5, 7, 9, -76, 12, 23, 42, 99, 123, 666]
One item (23) is now on it's final place!
Current state: [-5, 7, -76, 9, 12, 23, 42, 99, 123, 666]
One item (12) is now on it's final place!
Current state: [-5, -76, 7, 9, 12, 23, 42, 99, 123, 666]
One item (9) is now on it's final place!
Current state: [-76, -5, 7, 9, 12, 23, 42, 99, 123, 666]
One item (7) is now on it's final place!
Numbers after sorting: [-76, -5, 7, 9, 12, 23, 42, 99, 123, 666]

Arrange 10 integers in ascending order! (Built-in sorting algorithm)

In [34]:
numbers = [23, -5, 9, 7, 42, 123, 99, 666, -76, 12]
numbers.sort()
print('Numbers after sorting:', numbers)

Numbers after sorting: [-76, -5, 7, 9, 12, 23, 42, 99, 123, 666]

Let's compare the running time of the two solutions when sorting 10,000 random-generated numbers!

In [35]:
import time, random
numbers = []
for i in range(10_000):
  numbers.append(random.randint(-100_000, +100_000))
start = time.time()
for back in range(len(numbers)-1, 1, -1):
  for front in range(back):
    if numbers[front]>numbers[front+1]:
      swap = numbers[front]
      numbers[front] = numbers[front+1]
      numbers[front+1] = swap
finish = time.time()
print(f'Duration of sorting: {finish-start:.2f} sec.')

Duration of sorting: 18.48 sec.

In [36]:
import time, random
numbers = []
for i in range(10_000):
  numbers.append(random.randint(-100_000, +100_000))
start = time.time()
numbers.sort()
finish = time.time()
print(f'Duration of sorting: {finish-start:.2f} sec.')

Duration of sorting: 0.00 sec.

An alternative to the sort method is sorted. It does not alter the original list.

In [37]:
numbers = [23, -5, 9, 7, 42, 123, 99, 666, -76, 12]
ordered = sorted(numbers)
print('Numbers before sorting:', numbers)
print('Numbers after sorting:', ordered)

Numbers before sorting: [23, -5, 9, 7, 42, 123, 99, 666, -76, 12]
Numbers after sorting: [-76, -5, 7, 9, 12, 23, 42, 99, 123, 666]

Arrange the numbers in descending order!

In [38]:
numbers = [23, -5, 9, 7, 42, 123, 99, 666, -76, 12]
numbers.sort(reverse=True)
print('Numbers after sorting:', numbers)

Numbers after sorting: [666, 123, 99, 42, 23, 12, 9, 7, -5, -76]

It is also possible to sort textual data

In [39]:
names = ['James', 'Robert', 'John', 'Mary', 'Patricia', 'Jennifer']
names.sort()
print('Names after sorting:', names)

Names after sorting: ['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

The sort order is based on the Unicode code value of the letters, not the alphabetical order!

In [40]:
names = ['Ádám', 'András', 'Éva', 'Elemér', 'Ödön', 'Olivér']
names.sort()
print('Names after sorting:', names)

Names after sorting: ['András', 'Elemér', 'Olivér', 'Ádám', 'Éva', 'Ödön']

Solution: comparison according to locale (although some letters are still considered the same)

In [1]:
#!apt install language-pack-hu
#!dpkg-reconfigure locales
#!locale -a
import locale, os
#os.kill(os.getpid(), 9)

names = ['Ádám', 'András', 'Éva', 'Elemér', 'Ödön', 'Olivér']
locale.setlocale(locale.LC_ALL, 'hu_HU.utf8')
names.sort(key=locale.strxfrm)
print('Names after sorting:', names)

Names after sorting: ['Ádám', 'András', 'Elemér', 'Éva', 'Olivér', 'Ödön']

## Two-dimensional lists: every element of a one-dimensional list is another one-dimensional list

Let's create the [transpose](https://en.wikipedia.org/wiki/Transpose) of a matrix!

In [2]:
# reading a matrix
row = int(input('How many rows does the matrix have? '))
column = int(input('How many columns does the matrix have? '))
mtx = []
for r in range(row):
  newRow = []
  for c in range(column):
    newRow.append(float(input(f'[{r+1}][{c+1}]: ')))
  mtx.append(newRow)
# transpose
tr = []
for c in range(column):
  newRow = []
  for r in range(row):
    newRow.append(mtx[r][c])
  tr.append(newRow)
# printing
print('Original:', mtx)
print('Transposed:', tr)

How many rows does the matrix have? 2
How many columns does the matrix have? 2
[1][1]: 11
[1][2]: 12
[2][1]: 21
[2][2]: 22
Original: [[11.0, 12.0], [21.0, 22.0]]
Transposed: [[11.0, 21.0], [12.0, 22.0]]

Notice the difference between the operation of the append() and extend() methods!

In [3]:
even = [0, 2, 4]
odd = [1, 3, 5]
numbers = []
numbers.append(even)
print(numbers)
numbers.extend(odd)
print(numbers)

[[0, 2, 4]]
[[0, 2, 4], 1, 3, 5]

In [5]:
students = [
  ['1Q2W3E', 'Strong Stephen'],
  ['ASD123', 'Alga Rithem'],
  ['LKJHGF', 'Dawn Bright']
]
print('Students of the course:')
for s in students:
  print(s[0], ':', s[1])

Students of the course:
1Q2W3E : Strong Stephen
ASD123 : Alga Rithem
LKJHGF : Dawn Bright

### Unpacking: loading sequence elements into simple variables

In [6]:
a, (b, c) = (1, [2, (3, 4)])
print(a)
print(b)
print(c)

1
2
(3, 4)

In [7]:
students = [
  ['1Q2W3E', 'Strong Stephen'],
  ['ASD123', 'Alga Rithem'],
  ['LKJHGF', 'Dawn Bright']
]
print('Students of the course:')
for neptun, name in students:
  print(neptun, ':', name)

Students of the course:
1Q2W3E : Strong Stephen
ASD123 : Alga Rithem
LKJHGF : Dawn Bright

In [8]:
# swapping the contents of two variables without unpacking...
a = 1
b = 2
swap = a
a = b
b = swap
print('a =', a, 'b =', b)

a = 2 b = 1

In [9]:
# ...and with unpacking even if the emphasis is not on "real" unpacking of sequence elements
a = 1
b = 2
a, b = b, a
print('a =', a, 'b =', b)

a = 2 b = 1

In [10]:
numbers = [23, -5, 9, 7, 42, 123, 99, 666, -76, 12]
for back in range(len(numbers)-1, 0, -1):
  for front in range(back):
    if numbers[front] > numbers[front+1]:
      numbers[front], numbers[front+1] = numbers[front+1], numbers[front]
print('Numbers after sorting:', numbers)

Numbers after sorting: [-76, -5, 7, 9, 12, 23, 42, 99, 123, 666]

In [11]:
a, b, c = '123'
print(a)
print(b)
print(c)

1
2
3

### Packing several values into a single (list or tuple) variable: *

In [12]:
*a, b = 1, 2, 3
print(a)
print(b)

[1, 2]
3

In [ ]:
a, *b = 1, 2, 3
print(a)
print(b)

1
[2, 3]

In [15]:
*a, = 1, 2, 3 # without comma a is considered an int
print(a)

[1, 2, 3]

In [16]:
*a, b, c = 1, 2
print(a)
print(b)
print(c)

[]
1
2

In [17]:
*a, = range(10)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
numbers = range(2, 4)
print([0, 1, numbers, 4, 5])
print([0, 1, *numbers, 4, 5])

[0, 1, range(2, 4), 4, 5]
[0, 1, 2, 3, 4, 5]

In [20]:
# equivalent solutions of an earlier example with different techniques
even1 = list(range(0, 10, 2))
even2 = [*range(0, 10, 2)]
print(even1, even2, sep='\n')

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

## Search

How to find the location (indexes) and value of all occurrences of an element?

In [23]:
names = ['James', 'Robert', 'Jennifer', 'John', 'James', 'Mary', 'Patricia', 'James', 'Jennifer']
name = input('Who are we looking for? ')
if name in names:
  print('Index of first occurrence:', names.index(name))
  places = []
  for i in range(len(names)):
    if names[i] == name:
      places.append(i)
  if len(places) > 1:
    print('Indices of further occurrences:', places[1:])
else:
  print(name, 'is not included in the list.')

Who are we looking for? James
Index of first occurrence: 0
Indices of further occurrences: [4, 7]

enumerate: returns both the index and the value of the current element of the sequence

In [24]:
names = ['James', 'Robert', 'Jennifer', 'John', 'James', 'Mary', 'Patricia', 'James', 'Jennifer']
name = input('Who are we looking for? ')
if name in names:
  print('Index of first occurrence:', names.index(name))
  places = []
  for i,n in enumerate(names):
    if n==name:
      places.append(i)
  if len(places) > 1:
    print('Indices of further occurrences:', places[1:])
else:
  print(name, 'is not included in the list.')

Who are we looking for? Jennifer
Index of first occurrence: 2
Indices of further occurrences: [8]

### Search algorithms

In [25]:
import random as rnd

unordered = []
for i in range(100_000_000):
  unordered.append(rnd.random())
sought = unordered[rnd.randint(0, len(unordered)-1)]
print('We are looking for this value:', sought)

We are looking for this value: 0.9317756799792568

Buil-in search

In [26]:
import time

# index method of list
start = time.time()
index = unordered.index(sought)
finish = time.time()
print(f'Index of first occurrence: {index}, required time: {finish-start:.2f}')

Index of first occurrence: 65867688, required time: 0.85

Serial/linear search: we go through each element one by one to see if we can find what we were looking for.

In [28]:
# linear search
start = time.time()
for i in range(len(unordered)-1):
  if unordered[i] == sought:
    index = i
    break
finish = time.time()
print(f'Index of first occurrence: {index}, required time: {finish-start:.2f}')

Index of first occurrence: 65867688, required time: 9.16

[Binary search](https://en.wikipedia.org/wiki/Binary_search_algorithm): in each step, we halve the set in which the sought value can occur. Can only be used on sorted data.

In [29]:
# binary search
ordered = sorted(unordered)
start = time.time()
index = None
front = 0
back = len(ordered)-1
while front <= back:
  middle = (front + back) // 2
  if ordered[middle] == sought:
    index = middle
    break
  elif ordered[middle] > sought:
    back = middle - 1
  else:
    front = middle + 1
finish = time.time()
if index is not None:
  print(f'Index of first occurrence: {index}, required time: {finish-start:.2f}')
else:
  print('We did not find the value you were looking for, but it would be located at this index::', front)

Index of first occurrence: 93184591, required time: 0.00